.home-container {
  padding: 20px 10px;
}

.link {
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  border: 1px solid #D8D8D8;
  padding: 5px;
  width: 150px;
  cursor: pointer;
  text-align: center;
}

.link:hover {
  background-color: #424242;
  color: white;
}

.links {
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.links a {
  text-decoration: none;
  color: inherit;
}
